.profile-pic
{
  display:block;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 20px;
  max-width: 300px;
  border-radius: 50%;
}
.button{
  background-color: green;
  font-size: 30;
  text-align: center;
  display:inline-block;
  margin-left: 40%;
  padding: 15px 32px;
  border-top: 30;
  cursor: pointer;
  color: white;
}